@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}
p, h1, h2{
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

/*Navbar*/
.mainnavbar{
    padding-left: 0em;
}

.logo{
    height: 40px;
    width: 150px;
    padding: 1em 1em 1em 0em;
}


.menu{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em 1em 0em 0;
    text-align: center;
    padding-bottom: 1em;
}

.menu__text{
    color: #3A3A3A;
    text-decoration: none;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.menuunderline{
    background: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);
    height: 7px;
    width: 38px;
}
/*-----------------------------------------*/

/*Header (title)*/
.header{
    background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.5), rgba(36, 36, 36, 0.5)), url(../media/pageheader-1920w.jpg);
    background-size: 200%;
    background-position: center;
    width: 100%;
    min-height: 30vh;
    position: relative;
}

.title{
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.title__maintitle{
    font-weight: 800;
    font-size: 30px;
}

.title__secondarytitle{
    font-weight: 500;
    font-size: 18px;
    padding: 0.5em 0 1.25em 0;
}

/*------------------------*/

h1{
    font-weight: 700;
    font-size: 22px;
    padding: 1em;
    padding-bottom: 0em;
}

.h1--reference{
    text-align: center;
    padding: 0em;
}

h2{
    font-weight: 700;
    font-size: 20px;
    padding: 1em;

}

h3{
    font-weight: 700;
    font-size: 14px;
    padding: 0em 0em 0em 1.5em;
}
.h3--first{
    padding-top: 2em;
}

.page--orangetext{
    color: #EB6C27;
    font-weight: 700;
}

.page__text{
    font-size: 14px;
    font-weight: 500;
    padding: 0 1.5em 0 1.5em;
}

.page__text--reference{
    padding: 0em;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.page__text--beginning{
    margin-bottom: 4em;
}

.page__text--space{
    margin-top: 1em;
}

.img{
    width: 100%;
    height: 100%;
    min-height: 134px;
}

.page__img--v1{
    border-radius: 0 0 40px 0;
    width: 320px;
    height: 124px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page__img--v2{
    border-radius: 0 0 0 40px;
    width: 320px;
    height: 124px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img--reference{
    width: 320px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.img--pradelna{
    width: 320px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.img--pradelna--first{
    margin-top: 2em;
}

.img--pradelna--height{
    width: 320px;
    height: 570px;
}

.reference{
    text-align: center;
}

.button {
    background-color: #FFFFFF; 
    border: #EB6C27 1px dashed;
    color: #EB6C27;
    padding: 12px 40px;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 1em 1em 3em 1.5em;  
}

.button--reference{
    background-color: #EB6C27;
    color: #FFFFFF;
    margin-top: 3em;
    border: 0px;
}


/*Ručení za kvalitu*/
.section__backgroundimg{
    background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.85), rgba(36, 36, 36, 0.85)), url(../media/background-CTAblock-4460w.jpg);
    background-size: 200%;
    background-position: center;
    width: 100vw;
    min-height: 25vh;
    position: relative;
}


.page__text--rucenizakvalitu{
    font-weight: 700;
    font-size: 17px;
    padding-top: 1em;
    color: #FFFFFF;
    height: 100%;
}

.button--kvalita{
    background-color: #EB6C27;
    color: #FFFFFF;
    border: 0px;
}




/* Stránky přes buttony */
.page__title{
    font-size: 30px;
    font-weight: 700;
    margin: 3em 0 1em 0.65em;
}

.points{
    padding-top: 1em;
    margin-bottom: 5em;
    margin-left: 1em;
}
.points--onas{
    margin-bottom: 1.5em;
}

.points--reconstruction{
    padding-top: 0;
    margin-bottom: 1em;
}

li{
    margin: 0em 0 0em 1em;
}

li::marker{
    color: #EB6C27;
    font-size: 2em;
}

.moved{
    margin-left: 3.5em;
}



/* Footer */
footer{
    padding: 1em 0em 1em 0em;
    text-align: center;
    background-color: #EB6C27;
    color: #FFFFFF;
    margin-top: 4em;
}

.footer__text{
    font-weight: 400;
    font-size: 15px;
    padding-top: 1em;
    margin: 1em;
}

.button--footer{
    padding: 1.5em 5em 1.5em 5em;
    border: 0px;
    font-size: 15px;
}


/*Kontakty*/

.kontakty{
    margin: 2em 1em 1em 1.5em;
    color: #EB6C27;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    padding-top: 1em;
}
.textphone{
    padding-top: 2em;
}

.textmail{
    padding: 2em 0 2em 0;
}

.img--kontakty{
    padding-top: 2em;
    width: 100%;
    max-height: 300px;
}

.page__text--kontakty{
    font-weight: 700;
    padding-top: 2em;
}

.kontaktyborder{
    border: 1px solid #EB6C27;
    padding: 22.5px 100px 22.5px 100px;
}
