@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
}
p, h1{
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.mainnavbar{
    padding: 1em;
}

.logo{
    height: 44px;
    width: 127px;
}

.menu{
    color: #3A3A3A;
    text-decoration: none;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.headerimg{
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}

h1{
    font-weight: 700;
    font-size: 22px;
    padding: 1em;
    padding-bottom: 0em;
}

.page--orangetext{
    color: #EB6C27;
    font-weight: 700;
}

.text{
    font-size: 14px;
    font-weight: 500;
    padding: 0 1.5em 0 1.5em;
}

.page__img{
    width: 100%;
    height: 100%;
}

